<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v3.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="https://datamaps.github.io/scripts/0.4.2/datamaps.all.min.js"></script>
  <style>

  </style>
</head>

<body>
  <h3 class="center">Location of Eventbrite Events in the United States</h3>
  <h5 class="center">Hover over a state to see how many events are in each state.</h4>
  <div id="container" class="center" style="position: relative; width: 750px; height: 450px;"></div>
  <h3 class="center">Calendar of Eventbrite Events</h3>
  <h5 class="center">Hover over a date to see how many events are planned to start on that date.</h5>
  <div id="chart" class="clearfix"></div>
  <script src="static/js/regions.js"></script>
  <script src="static/js/calendar.js"></script>
  <h5 class="center">Made with love by <a href = "http://www.james-xue.com"/>James</a>. Source code is on <a href = "https://github.com/frogbandit/eventbrite-jamesxue"/>Github.</a></h5>
</body>

</html>